/*
#f4ce14
#495e57
#eee
*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background-color: #093627;
  color: #f4ce14;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 10;
}

.hero-image {
  width: 100%;
  height: 35rem;
  z-index: 0;
  overflow:visible;
}

.hero-image img {
  width: 110%;
  height: 60%;
  object-fit: cover;
  transform: rotateZ(-2deg) translateY(-0.5rem) translateX(-1rem);
}

.logo {
  width: 1.35rem;
  height: 1.35rem;
  margin-right: 0.5rem;
}
